@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
}

input {
  @apply outline-none focus:ring-2 focus:ring-blue-500;
}

button {
  @apply transition duration-200;
}
